{% extends 'articles/base.html' %}

{% block body %}
<div class="container">
    <h1> 새 글 등록</h1>
    
    <form action="{% url 'articles:create' %}">
      <div class="form-group">
        <label for="exampleFormControlInput1">제목</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" value="{{article.title}}" name="title">
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">내용</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
      </div>
      
      <button type="button" class="btn btn-warning" onClick="location.href='/articles'">취소</button>
      <input type="submit" class="btn btn-warning" value="글쓰기"/>
    </form>
</div>
{% endblock %}