<!DOCTYPE html>
<html>
    <head>
        <title>환율</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>통화명</th>
                    <th>매매기준율</th>
                </tr>
            </thead>
            <tbody>
                {% for toon in t: %}
                <tr>
                    <td>{{ toon["con"] }}</td>
                    <td>{{ toon["cost"] }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>