<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>새 영화 등록</title>
</head>
<body>
    <!--<form action="/movies/create">-->
    <!--    제목 : <input type="text" name="title"/><br>-->
    <!--    영어제목 : <input type="text" name="title_en"/><br>-->
    <!--    관객 수 : <input type="number" name="audience"/><br>-->
    <!--    개봉일 : <input type="date" name="open_date"/><br>-->
    <!--    장르 : <input type="text" name="genre"/><br>-->
    <!--    관람등급 : <input type="text" name="watch_grade"/><br>-->
    <!--    평점 : <input type="number" step="0.5" min="0" max="5" name="score"/><br>-->
    <!--    포스트 : <input type="text" name="poster_url"/><br>-->
    <!--    설명 : <input type="textarea" name="description"/><br>-->
    <!--    <input type="submit" value="등록"/><br>-->
    <!--</form>-->
    <div class="container" style="width: 630px;">
        <form name="signUpForm" class="form" role="form" action="/movies/create">
            <legend>영화 등록</legend>
            <hr>
            <h4>영화제목</h4>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input type="text" name="title" class="form-control input-lg" placeholder="한글" />
                </div>
                <div class="col-xs-6 col-md-6">
                    <input type="text" name="title_en" class="form-control input-lg" placeholder="영어" />
                </div>
            </div>
            <hr>
            <br>
            <input type="number" name="audience" class="form-control input-lg" placeholder="관객수" />
            <br>
            <input type="date" name="open_date" class="form-control input-lg" placeholder="개봉일" />
            <br>
            <input type="text" name="genre" class="form-control input-lg" placeholder="장르" />
            <br>
            <input type="text" name="watch_grade" class="form-control input-lg" placeholder="관람등급" />
            <br>
            <input type="number" step="0.5" min="0" max="5" name="score" name="confirm_password" class="form-control input-lg" placeholder="평점" />
            <br>
            <input type="text" name="poster_url" class="form-control input-lg" placeholder="포스트이미지" />
            <br>
            <input type="textarea" name="description" class="form-control input-lg" cols="50" rows="8" style="height: 280px;" placeholder="설명" />
            <br>
            <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">영화등록</button>
        </form>
            <a href="/movies"><button class="btn btn-lg btn-light btn-block signup-btn">취소</button></a>
    </div>
</body>
</html>