<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <ul class="list-group">
      <li class="list-group-item disabled">글번호 : {{article[0]}}</li>
      <li class="list-group-item">제목 : {{article[1]}}</li>
      <li class="list-group-item">글쓴이 : {{article[4]}}</li>
      <li class="list-group-item">작성일 : {{article[3]}}</li>
      <li class="list-group-item">내용 : {{article[2]}}</li>
    </ul>
    
    <a href="/articles">
        <button type="button" class="btn btn-outline-dark">글목록</button>
    </a>
    <a href="/articles/{{article[0]}}/edit">
        <button type="button" class="btn btn-outline-dark">수정</button>
    </a>
    <a href="/articles/{{article[0]}}/delete">
        <button type="button" class="btn btn-outline-dark">삭제</button>
    </a>
</body>
</html>